In [1]:
# 1) data types or variables
#print statement
print("hello world");

hello world

In [ ]:
#string
name = "khaja"
print(name)
print(type(name))

khaja
<class 'str'>

In [ ]:
#integer
age = 25
print(age)

25

In [ ]:
#float
height = 5.8
print(height)
print(type(height))

5.8
<class 'float'>

In [ ]:
#boolean
are_you_a_teacher = True
print(are_you_a_teacher)

True

In [ ]:
x = 5
y = 6
print(x*y)
print(x/y)
print(x+y)
print(x-y)

30
0.8333333333333334
11
-1

In [ ]:
# 2) data structure

# list are mutable
fruits = ["apple","banana","pineapple","orange"]
print(fruits[0])
print(type(fruits))

apple
<class 'list'>

In [ ]:
# tuple
cordinates = (10,20)
print(cordinates[0])

10

In [ ]:
''' list are mutable it means you add,edit,remove,
'''
fruits = [1,2,3,4,5,5]
print(fruits[4])

2

In [22]:
cars=["bmw", "mercideis" ,"charcol"]
#print(cars[0])
#print(type(cars)
cars[0]="queen"
#print(cars[0])
print([2])

[2]

In [11]:
cars=["bmw", "mercideis" ,"charcol",2,34,55,4.5,]
#print(cars)
print(cars[0:])
print(cars[1:])
cars[2:]="charcol"
cars
cars.append("what's good my g")
print(cars)
cars.insert(0"watermelon")
print(cars)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (22735552.py, line 9)

In [ ]:
cars.append("what's good my g")
print(cars)

In [10]:
cars.insert(0"watermelon")
print(cars)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1652094438.py, line 1)